@font-face {
  font-family: "Display";
  font-style: normal;
  src: url("./PlayfairDisplay-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "OpensansB";
  font-weight: 700;
  src: url("./OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "OpensansR";
  font-weight: 400;
  src: url("./OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpensansL";
  font-weight: 300;
  src: url("./OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: "NanumR";
  font-weight: 400;
  src: url("./NanumSquareRoundR.woff") format("woff");
}
@font-face {
  font-family: "NanumB";
  font-weight: 400;
  src: url("./NanumSquareRoundB.woff") format("woff");
}
@font-face {
  font-family: "NanumEB";
  font-weight: 800;
  src: url("./NanumSquareRoundEB.woff") format("woff");
}

@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "twayfly";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
